<div class="container" *ngIf="usuario.tipo!='Invitado'">


  <div class="container" *ngIf="usuario.tipo!='Usuario'">
    <h1>Lo sentimos no tiene los permisos para poder usar esta opción, inicie sesión como Usuario Solicitante</h1>
  </div>
</div>
<div class="image-container" *ngIf="usuario.tipo=='Usuario' || usuario.tipo=='Invitado'">
  <a routerLink="/Proyecto2/Usuario/Ofertas">
    <img src="assets/ModuloUsuario/BuscarEmpleo.png" alt="Ofertas">
    <p>Buscar Ofertas de Empleo</p>
  </a>
  <a routerLink="/Proyecto2/Usuario/Postulaciones">
    <img src="assets/ModuloUsuario/PostulacionesRealizadas.png" alt="Postulaciones">
    <p>Postulaciones Realizadas</p>
  </a>
  <a routerLink="/Proyecto2/Usuario/Entrevistas">
    <img src="assets/ModuloUsuario/EntrevistasPendientes.png" alt="Empleador">
    <p>Entrevistas Pendientes</p>
  </a>
  <a routerLink="/Proyecto2/Usuario/Reportes">
    <img src="assets/ModuloAdministrador/Reportes.png" alt="Empleador">
    <p>Reportes</p>
  </a>

</div>