
<div class="container col-xl-10 col-xxl-8 px-6 py-5">
    <div class="col-md-10 mx-auto col-lg-6">


        <div class="alert alert-danger" role="alert" *ngIf="error">
            <h1>El enlace ya no es valido, vuelva a generar una nueva peticion!</h1>
        </div>
        
        <div class="alert alert-success" role="alert" *ngIf="PasswordCambaida">
            <h1>Su Contraseña se ha cambiado Correoctamente, vuelva a iniciar Sesion!</h1>
     
            <a class="btn btn-primary" href="/login/usuario" role="button">Iniciar Sesion</a>
        </div>

        <div *ngIf="tokenValido && !PasswordCambaida && !error" >

            <h2 class="display-10 fw-bold lh-5 text-body-emphasis mb-50">Ingresa tu nueva contraseña!</h2>

            <br>
            <br>

            <br>

            <div class="mb-6">
                <label for="exampleFormControlInput1" class="form-label">Contraseña: </label>
                <input [(ngModel)]="cuenta.password" type="password" class="form-control" id="exampleFormControlInput1"
                    placeholder="contraseña nueva">

            </div>
            <br>
            <button type="button" class="btn btn-primary" (click)="PasswordNueva()">Recuperar Contraseña</button>
        </div>
    </div>


</div>