<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="saved">
                Usuario Creado Exitosamente. <br />
                Codigo Usuario Creada: {{codigoCreado}}

            </div>
            <h1>Registro Usuario</h1>
            <form [formGroup]="FormularioOferta" (ngSubmit)="submit()">
                <div class="form-row">



                    <div class="form-group">
                        <label for="inputAddress">Nombre</label>
                        <input class="form-control"
                            [class.is-invalid]="FormularioOferta.controls['nombre'].invalid && FormularioOferta.controls['nombre'].touched"
                            id="nombre" name="nombre" formControlName="nombre" />

                        <div *ngIf="FormularioOferta.controls['nombre'].invalid && (FormularioOferta.controls['nombre'].dirty || FormularioOferta.controls['nombre'].touched)"
                            class="invalid-feedback">
                            <div>
                                Por favor ingrese el nombre
                            </div>
                        </div>
                    </div>





                    <div class="form-group">
                        <label for="inputAddress">Usuario</label>
                        <input class="form-control"
                            [class.is-invalid]="FormularioOferta.controls['usuario'].invalid && FormularioOferta.controls['usuario'].touched"
                            id="usuario" name="usuario" formControlName="usuario" />

                        <div *ngIf="FormularioOferta.controls['usuario'].invalid && (FormularioOferta.controls['usuario'].dirty || FormularioOferta.controls['usuario'].touched)"
                            class="invalid-feedback">
                            <div>
                                Por favor ingrese un usuario
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputAddress">Direccion</label>
                        <input class="form-control"
                            [class.is-invalid]="FormularioOferta.controls['direccion'].invalid && FormularioOferta.controls['direccion'].touched"
                            id="direccion" name="direccion" formControlName="direccion" />

                        <div *ngIf="FormularioOferta.controls['direccion'].invalid && (FormularioOferta.controls['direccion'].dirty || FormularioOferta.controls['direccion'].touched)"
                            class="invalid-feedback">
                            <div>
                                Por favor ingrese el direccion
                            </div>
                        </div>
                    </div>








                    <div class="form-group">
                        <label for="inputAddress">correo</label>
                        <input class="form-control"
                            [class.is-invalid]="FormularioOferta.controls['correo'].invalid && FormularioOferta.controls['correo'].touched"
                            id="correo" name="correo" formControlName="correo" />

                        <div *ngIf="FormularioOferta.controls['correo'].invalid && (FormularioOferta.controls['correo'].dirty || FormularioOferta.controls['correo'].touched)"
                            class="invalid-feedback">
                            <div>
                                Por favor ingrese un correo
                            </div>
                        </div>
                    </div>







                    <div class="form-group">
                        <label for="inputAddress">contraseña</label>
                        <input class="form-control" type="password"
                            [class.is-invalid]="FormularioOferta.controls['password'].invalid && FormularioOferta.controls['password'].touched"
                            id="password" name="password" formControlName="password" />

                        <div *ngIf="FormularioOferta.controls['password'].invalid && (FormularioOferta.controls['password'].dirty || FormularioOferta.controls['password'].touched)"
                            class="invalid-feedback">
                            <div>
                                Por favor ingrese una contraseña
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputAddress">CUI</label>
                        <input class="form-control"
                            [class.is-invalid]="FormularioOferta.controls['cui'].invalid && FormularioOferta.controls['cui'].touched"
                            id="cui" name="cui" formControlName="cui" />

                        <div *ngIf="FormularioOferta.controls['cui'].invalid && (FormularioOferta.controls['cui'].dirty || FormularioOferta.controls['cui'].touched)"
                            class="invalid-feedback">
                            <div>
                                Por favor, ingrese su cui
                            </div>
                        </div>
                    </div>



           


                    <div class="form-group">
                        <label for="inputAddress">Fecha de nacimiento</label>
                        <input class="form-control" type="date"
                            [class.is-invalid]="FormularioOferta.controls['birth'].invalid && FormularioOferta.controls['birth'].touched"
                            id="birth" name="birth" formControlName="birth" />

                        <div *ngIf="FormularioOferta.controls['birth'].invalid && (FormularioOferta.controls['birth'].dirty || FormularioOferta.controls['birth'].touched)"
                            class="invalid-feedback">
                            <div>
                                Por favor seleccione una Fecha
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">tipo de usuario</label>
                        <select class="form-control"
                          [class.is-invalid]="FormularioOferta.controls['tipo'].invalid && FormularioOferta.controls['tipo'].touched"
                          id="tipo" name="tipo" formControlName="tipo">
                          <option value="Empleador">Empleador</option>
                          <option value="Usuario">Solicitante</option>
                        </select>
            
                        <div
                          *ngIf="FormularioOferta.controls['tipo'].invalid && (FormularioOferta.controls['tipo'].dirty || FormularioOferta.controls['tipo'].touched)"
                          class="invalid-feedback">
                          <div>
                            Por favor seleccione un tipo
                          </div>
                        </div>
                      </div>



                    <br />
                    <button class="btn btn-success" type="submit" [disabled]="FormularioOferta.invalid">Crear</button>
                </div>
            </form>
        </div>