<app-navbar></app-navbar>
<div class="container" *ngIf="usuario.tipo!='Empleador'">
    <h1>Lo sentimos no tiene los permisos para poder usar esta opción, inicie sesión como Administrador</h1>
    </div>
    
    <div class="container" *ngIf="usuario.tipo =='Empleador'">
    
      <h1>Usuario: {{usuario.nombre}}</h1>
     <h1 class="text align-items-center">Gestion de Ofertas de Empleo</h1>
     <h3>Ofertas Publicadas</h3>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Oferta</th>
            <th>Usuario</th>
            <th>Mensaje</th>
            <th>Estado</th>
            <th>Ver detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of solicitudes">
            <td>{{ solicitud.nombreOferta }}</td>
            <td>{{ solicitud.nombreUsuario }}</td>
            <td>{{ solicitud.mensaje }}</td>
            <td>{{ solicitud.estado }}</td>
            <td *ngIf="solicitud.estado=='Activo'" > <a class="btn btn-outline-info" (click)="informacionUsuario(solicitud.codigoUsuario,solicitud.codigo)">ver detalles</a>
            </td>
          
        </tbody>
      </table>
    
   
      <br>
 
    
    </div>
      