<
<div>
    <form #miFormulario="ngForm" (ngSubmit)="realizarAccion(miFormulario.value)">
      <label for="fecha1">Fecha 1:</label>
      <input type="date" id="fecha1" name="fecha1" ngModel>
  
      <label for="fecha2">Fecha 2:</label>
      <input type="date" id="fecha2" name="fecha2" ngModel>
  
      <button type="submit">Ver Ofertas</button>
    </form>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Oferta</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of reporte1; index as i">
            <td>{{item.codigo}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.fechaPublicacion}}</td>
            <td>{{item.estado}}</td>
            <td> <a class="btn btn-outline-success" (click)="abrirModal(item.codigo)">ver detalles</a>
          
        </tr>
    </tbody>
</table>