<div class="row">
    <div class="col-md-3">
        <label>Fecha</label>
        <input type="date" class="form-control" [(ngModel)]="fecha1">
    </div>

    <div class="col-md-3">
        <label></label>
        <button class="btn btn-success btn-block" (click)="realizarAccion()">Generar Reporte</button>
    </div>


</div>
<br>
<br>
<a class="btn btn-success col-md-12" href="{{downloadUrl}}" (click)="PDF()">Descargar pdf</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Oferta</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha y hora/notas</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of reporte2; index as i">
            <td>{{item.codigo}}</td>
            <td>{{item.nombreOferta}}</td>
            <td>{{item.estado}}</td>
            <td *ngIf="item.estado=='Finalizado'">{{item.nota}}</td>
            <td *ngIf="item.estado=='Pendiente'">{{item.fecha }} {{ item.hora}}</td>


        </tr>
    </tbody>
</table>