<a class="btn btn-success col-md-12" href="{{downloadUrl}}">Descargar pdf</a>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of reporte2; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{item.codigo}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.cantidad}}</td>
        </tr>
    </tbody>
</table>