<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="display-5">{{oferta.nombre}}</h4>
        <p class="lead">Ubicación: {{oferta.ubicacion}}</p>
        <p class="lead display-20">Empresa: <a [routerLink]="['/Proyecto2/Usuario/Empresas/', oferta.codigoEmpresa]">{{oferta.nombreEmpresa}}</a></p>
        <p class="lead">Categoría: {{oferta.nombreCategoria}}</p>
        <p class="lead">Publicado: {{oferta.fechaPublicacion}}</p>
        <p class="lead">Fecha Límite: {{oferta.fechaLimite}}</p>
        <p class="lead">Salario: Q{{oferta.salario}}</p>
        <p class="lead">Modalidad: {{oferta.modadidad}}</p>
      </div>
    </div>
  
    <hr>
  
    <div class="row">
      <div class="col-md-12">
        <h3>Descripción</h3>
        <p>{{oferta.descripcion}}</p>
      </div>
    </div>
  
    <hr>
  
    <div class="row">
      <div class="col-md-12">
        <h3>Detalles</h3>
        <p>{{oferta.detalle}}</p>
      </div>
    </div>
    <br/>

    <div *ngIf="!postulado; else yaPostulado">
      <a class="btn btn-primary" (click)="abrirModal()">Postularme</a>
    </div>
    <ng-template #yaPostulado>
      <p>¡Ya has sido postulado!</p>
    </ng-template>
   

  </div>
  