<div class="container" *ngIf="usuario.tipo!='Admin'">
  <h1>Lo sentimos no tiene los permisos para poder usar esta opción, inicie sesión como Administrador</h1>
  </div>

<div class="image-container" *ngIf="usuario.tipo=='Admin'">
    <a routerLink="/Proyecto2/Administrador/DashBoard">
      <img src="assets/ModuloAdministrador/dashboard.png" alt="DashBoard">
      <p>DashBoard</p>
    </a>
    <a routerLink="/Proyecto2/Administrador/GestionCategorias">
      <img src="assets/ModuloAdministrador/GestionCategoria.png" alt="GestionCategoria">
      <p>Gestion de Categorias</p>
    </a>
    <a routerLink="/Proyecto2/Administrador/CambiarComision">
      <img src="assets/ModuloAdministrador/CamiarComision.png" alt="CambiarComision">
      <p>Cambio de Comision</p>
    </a>
    <a routerLink="/Proyecto2/Administrador/Reportes">
      <img src="assets/ModuloAdministrador/Reportes.png" alt="Reportes">
      <p>Reportes</p>
    </a>
  
  </div>