<div class="image-container">
    <a routerLink="/Proyecto2/Administrador/DashBoard">
      <img src="assets/ModuloAdministrador/dashboard.png" alt="DashBoard">
      <p>DashBoard</p>
    </a>
    <a routerLink="/Proyecto2/Administrador/GestionCategorias">
      <img src="assets/ModuloAdministrador/GestionCategoria.png" alt="GestionCategoria">
      <p>Gestion de Categorias</p>
    </a>
    <a [routerLink]="['/login', 'empleador']">
      <img src="assets/ModuloAdministrador/CamiarComision.png" alt="Empleador">
      <p>Cambio de Comision</p>
    </a>
    <a [routerLink]="['/login', 'empleador']">
      <img src="assets/ModuloAdministrador/Reportes.png" alt="Empleador">
      <p>Reportes</p>
    </a>
  
  </div>