<div class="container" *ngIf="usuario.tipo!='Empleador'">
    <h1>Lo sentimos no tiene los permisos para poder usar esta opción, inicie sesión como Usuario Solicitante</h1>
    </div>
  
  <div class="image-container" *ngIf="usuario.tipo=='Empleador'">
    <a routerLink="/Proyecto2/Empleador/GestionOfertas">
     <img src="assets/ModuloUsuario/BuscarEmpleo.png" alt="Ofertas">
        <p>Gestion Ofertas de Empleo</p>
      </a>
      <a routerLink="/Proyecto2/Empleador/RevisionPostulaciones">
        <img src="assets/ModuloUsuario/PostulacionesRealizadas.png" alt="Postulaciones">
        <p>Revision de Postulaciones</p>
      </a>
      <a routerLink="/Proyecto2/Empleador/RevisionEntrevistas">
        <img src="assets/ModuloUsuario/EntrevistasPendientes.png" alt="Empleador">
        <p>Revision de Entrevistas</p>
      </a>
      <a routerLink="/Proyecto2/Empleador/Reportes">
        <img src="assets/ModuloAdministrador/Reportes.png" alt="Empleador">
        <p>Reportes</p>
      </a>
    
    </div>